@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    padding: 0;
    border: 0;

}

/* h1 */

/* #subtitle */

/* .flexboxContainer */

/*.flexboxContainer > div */

/* a */

/* img */

/* .flexboxContainer > div:hover */

